:root {
    /* fonts */
    --font-inter: Inter;
    --font-manrope: Manrope;
    --font-nerko-one: "Nerko One";
  
    /* font sizes */
    --font-size-base: 12px;
    --font-size-lg: 14px;
    --font-size-xl: 15px;
    --font-size-2xl: 20px;
  
    /* Colors */
    --color-gray-100: rgba(0, 0, 0, 0.32);
    --color-white: #fff;
    --color-black: #000;
    --color-gainsboro: #d9d9d9;
  
    /* border radiuses */
    --br-md: 10px;
  }
  