.group-child,
.group-inner,
.group-item,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  width: 100px;
  height: 130px;
}
.group-inner,
.group-item,
.rectangle-div {
  left: 106px;
}
.group-inner,
.rectangle-div {
  left: 318px;
}
.rectangle-div {
  left: 212px;
}
.rectangle-parent,
.vector-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 418px;
  height: 130px;
}
.vector-icon {
  height: 10%;
  width: 2.15%;
  top: 91%;
  right: 5.62%;
  bottom: -1%;
  left: 92.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent {
  position: absolute;
  top: 719px;
  left: 23px;
  width: 418px;
  height: 150px;
}
.iphone-13-pro-max-8-child,
.vector-icon1 {
  position: absolute;
  height: 1.67%;
  width: 11.68%;
  top: 1.06%;
  right: 2.45%;
  bottom: 97.27%;
  left: 85.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1 {
  height: 51.22%;
  width: 11.54%;
  top: 35.37%;
  right: 2.47%;
  bottom: 13.41%;
  left: 85.99%;
}
.group-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 182px;
  height: 41px;
}
.search-episode-nmber,
.vector-parent {
  position: absolute;
  top: 13px;
  left: 17px;
}
.vector-parent {
  height: 4.57%;
  width: 42.52%;
  top: 33.52%;
  right: 2.8%;
  bottom: 61.92%;
  left: 54.67%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--color-darkslategray);
}
.naruto {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 800;
}
.group-child2,
.group-child3,
.group-child4,
.group-child5 {
  position: absolute;
  top: 27px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  width: 100px;
  height: 130px;
}
.group-child3,
.group-child4,
.group-child5 {
  left: 106px;
}
.group-child4,
.group-child5 {
  left: 318px;
}
.group-child5 {
  left: 212px;
}
.naruto-parent {
  position: absolute;
  top: 329px;
  left: 23px;
  width: 418px;
  height: 157px;
  font-size: var(--font-size-sm);
}
.vector-icon2 {
  position: absolute;
  height: 1.67%;
  width: 2.1%;
  top: 54.84%;
  right: 2.45%;
  bottom: 43.49%;
  left: 95.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-container {
  position: absolute;
  top: 555px;
  left: 24px;
  width: 418px;
  height: 150px;
}
.iphone-13-pro-max-8-item {
  position: absolute;
  top: 835px;
  left: 0;
  background-color: var(--color-black);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 428px;
  height: 63px;
}
.line-3-stroke,
.vector-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 428px;
  height: 1px;
}
.vector-icon4 {
  height: 57.45%;
  width: 71.43%;
  top: -3.19%;
  right: 15.71%;
  bottom: 45.74%;
  left: 12.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home,
.vector-group {
  position: absolute;
  top: 32px;
  left: 0;
}
.vector-group {
  height: 97.92%;
  width: 9.49%;
  top: 0;
  right: 90.51%;
  bottom: 2.08%;
}
.hotstar {
  margin: 0;
}
.hotstar-x-anime-container {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 800;
  white-space: pre-wrap;
}
.hotstar-x-anime-wrapper {
  position: absolute;
  top: 0;
  left: 110px;
  width: 145px;
  height: 48px;
  font-size: var(--font-size-xl);
}
.vector-icon5 {
  position: absolute;
  height: 57.45%;
  width: 69.23%;
  top: -3.19%;
  right: 16.67%;
  bottom: 45.74%;
  left: 14.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div,
.vector-container {
  position: absolute;
  height: 97.92%;
  width: 10.57%;
  top: 0;
  right: 0;
  bottom: 2.08%;
  left: 89.43%;
}
.group-div {
  height: 76.8%;
  width: 86.21%;
  top: 23.2%;
  right: 7.71%;
  bottom: 0;
  left: 6.08%;
}
.line-3-stroke-parent {
  position: absolute;
  top: 834.5px;
  left: 1px;
  width: 428px;
  height: 62.5px;
}
.more-like-this {
  position: absolute;
  top: 524px;
  left: 24px;
  font-size: var(--font-size-sm);
  font-weight: 800;
}
.group-child10 {
  border-radius: var(--br-3xs);
  background-color: var(--color-dodgerblue);
}
.b,
.group-child10,
.group-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 76px;
  height: 21.37px;
}
.b {
  top: 2px;
  left: 7px;
  display: inline-block;
  width: 9px;
  height: 15px;
}
.collection,
.group-parent1 {
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: var(--font-size-xs);
}
.group-parent1 {
  top: 250px;
  left: 341px;
  width: 80px;
  height: 21.37px;
  font-size: var(--font-size-mini);
}
.group-child11 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 58px;
  height: 70px;
}
.naruto-e1 {
  position: absolute;
  top: 0;
  left: 69px;
  font-size: var(--font-size-sm);
  font-weight: 800;
}
.e1-naruto-uzumaki,
.group-child12 {
  position: absolute;
  top: 29px;
  left: 70px;
}
.group-child12 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslategray);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 93px;
  height: 18px;
}
.dawonload,
.vector-icon6 {
  position: absolute;
  top: 1px;
  left: 21px;
}
.vector-icon6 {
  height: 61.11%;
  width: 11.83%;
  top: 19.44%;
  right: 82.26%;
  bottom: 19.44%;
  left: 5.91%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent1 {
  position: absolute;
  top: 52px;
  left: 69px;
  width: 93px;
  height: 18px;
}
.rectangle-container,
.vector-icon7 {
  position: absolute;
  top: 244px;
  left: 23px;
  width: 181px;
  height: 70px;
}
.vector-icon7 {
  height: 2.34%;
  width: 3.5%;
  top: 14.31%;
  right: 25.35%;
  bottom: 83.35%;
  left: 71.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child13,
.line-4-stroke {
  position: absolute;
  top: 0;
  left: 0;
  width: 428.01px;
  height: 1px;
}
.group-child13 {
  top: 1.5px;
  background-color: var(--color-gainsboro);
  width: 428px;
  height: 193px;
}
.vector-icon10,
.vector-icon8,
.vector-icon9 {
  position: absolute;
  height: 15.94%;
  width: 6.31%;
  top: 45.24%;
  right: 45.68%;
  bottom: 38.82%;
  left: 48.01%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon10,
.vector-icon9 {
  height: 10.8%;
  width: 3.5%;
  top: 47.81%;
  right: 71.85%;
  bottom: 41.39%;
  left: 24.65%;
}
.vector-icon10 {
  right: 23.72%;
  left: 72.78%;
}
.s,
.s1 {
  position: absolute;
  top: 93.5px;
  left: 125px;
}
.s1 {
  top: 92.5px;
  left: 284px;
}
.line-4-stroke-parent {
  position: absolute;
  top: 36.5px;
  left: 0;
  width: 428.01px;
  height: 194.5px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.iphone-13-pro-max-8 {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 898px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
